{{define "dataMahasiswa"}}
{{template "header"}}
      
   <p class="is-1"><b>Daftar Mahasiswa</b></p>
    <table class="table is-bordered is-fullwidth">
        <thead>
            <tr>
                <td width="5%">No.</td>
                <td>NIM</td>
                <td>Nama Mahasiswa</td>
                <td>Jenis Kelamin</td>
                <td>Tempat Lahir</td>
                <td>Tanggal Lahir</td>
                <td>Jurusan</td>
                <td>Alamat</td>
                <td>Agama</td>
                <td width="15%">#</td>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ .Urut }}</td>
                <td>{{ .NIM }}</td>
                <td>{{ .Nama }}</td>
                <td>{{ .Jk }}</td>
                <td>{{ .Alamat }}</td>
                <td>{{ .TempatLahir }}</td>
                <td>{{ .TglLahir}}</td>
                <td>{{ .Jurusan }}</td>
                <td>{{ .Agama }}</td>
                <td>
                    <div class="buttons has-addons is-centered">
                        <a href="" class="button is-small is-primary">Lihat</a>
                        <a href="" class="button is-small is-info">Edit</a>
                        <a href="" class="button is-small is-danger">Hapus</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    {{template "footer"}}
{{end}}

